[submodule "odin-recipes"]
	path = odin-recipes
	url = https://github.com/Stamich47/odin-recipes
[submodule "Rock-Paper-Scissors"]
	path = Rock-Paper-Scissors
	url = https://github.com/Stamich47/Rock-Paper-Scissors
